* {
    padding: 0;
    margin: 0;
}
canvas {
    background: #eee no-repeat center center;
    display: block;
    margin: 0 auto;
    border-style: solid;
}
div.jeu {
    background: #eee no-repeat center center;
    display: block;
    margin: 0 auto;
    border-style: solid;
    height: 640px;
    width: 916px;
    box-sizing: unset;
}
button {
    display: block;
    margin: auto;
}

div.container#game {
    display: flex;
    margin: 1%;
    padding: 0;
    width: auto;
    max-width: none;
}

div.infos_jeu {
    border-style: solid;
    width: 15%;
    margin-left: 1%;
    background-color: #EEEEEE;
    display: inline-block;
}
div.infos_jeu .titre {
    height: 25%;
    display: inline-block;
    position: relative;
    width: 100%;
}
div.infos_jeu .titre h1 {
    text-align: center;
    font-size: 35px;
    margin: 4% 0 0 0;
    font-weight: bold;
}
div.infos_jeu .titre h2 {
    text-align: center;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 6%;
}
div.infos_jeu .stats {
    border-style: solid;
    border-width: 2px 0;
    height: 50%
}
div.infos_jeu .stats h3 {
    text-align: center;
    margin: 4% 0;
}
div.infos_jeu .vote {
    height: 25%;
    position: relative;
}
div.infos_jeu .vote h4 {
    text-align: center;
    margin: 8% 0;
}
/* Icones de vote */
ul.rs {
	list-style-type: none;
    width: 70%;
    text-align: center;
    margin: auto;
}

ul.rs li {
	display: inline-block;
	margin: 0 6px;
}

ul.rs li a,
ul.rs li a:visited {
	font-size: 34px;
}

ul.rs a.cercle {
	border-radius: 34px;
	-moz-border-radius: 34px;
	-webkit-border-radius: 34px;
	color: #fff;
	display: inline-block;
	font-weight: bold;
	line-height: 1.6em;
	margin-right: 5px;
	text-align: center;
	width: 1.6em;
}

ul.rs a.cercle#up {
	background: #45bb45;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
ul.rs a.cercle#up:hover, 
ul.rs a.cercle#up:focus {
	background: #FFF;
}
ul.rs a.cercle#up:hover i, 
ul.rs a.cercle#up:focus i {
	color: #45bb45;
}
ul.rs a.cercle#down {
	background: #dd2727;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
ul.rs a.cercle#down:hover, 
ul.rs a.cercle#down:focus {
	background: #FFF;
}
ul.rs a.cercle#down:hover i, 
ul.rs a.cercle#down:focus i {
	color: #dd2727;
}

div.jeu {
    margin: auto;
    min-width: 916px;
    min-height: 544px;
}

div.autres_jeux {
    border-style: solid;
    width: 15%;
    margin-right: 1%;
    background-color: #EEEEEE;
    display: inline-block;
}
div.jeu_random {
    height: 25%;
    border-style: solid;
    border-color: red;
}