/* Image de profil du joueur */
img#profil {
    width: 100%;
    max-height: 25%;
    height: auto;
    margin-bottom: 30px;
    border: 4mm ridge rgba(70, 70, 70, .7);
}

/* Image du trophée pour les tops sur la page d'accueil */
img#trophee {
    width: 100%;
    max-height: 35%;
    height: auto;
    margin-bottom: 30px;
    border: 4mm ridge rgba(188, 169, 0, 1);
}

/* Style de la page d'erreur 404 */
.error404 {
    margin: 10%;
    text-align: center;
}
.error404 h1 {
    display: inline-block;
    background-color: #343A40;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

/* Étoiles pour la notation des jeux */
.star-rating, .back-stars, .front-stars {
    display: flex;
}
.star-rating {
    align-items: center;
    justify-content: center;
}
.back-stars {
    color: #bb5252;
    position: relative;
}
.front-stars {
    color: orange;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.5s;
}