/* Image de profil du joueur */
img#profil {
    width: 100%;
    max-height: 25%;
    height: auto;
    margin-bottom: 30px;
    border: 4mm ridge rgba(70, 70, 70, .7);
}

/* Image du trophée pour les tops sur la page d'accueil */
img#trophee {
    width: 100%;
    max-height: 35%;
    height: auto;
    margin-bottom: 30px;
    border: 4mm ridge rgba(188, 169, 0, 1);
}

/* Style de la page d'erreur 404 */
.error404 {
    margin: 10%;
    text-align: center;
}
.error404 h1 {
    display: inline-block;
    background-color: #343A40;
    color: white;
    padding: 30px;
    border-radius: 10px;
}

/* Étoiles pour la notation des jeux */
.star-rating, .back-stars, .front-stars {
    display: flex;
}
.star-rating {
    align-items: center;
    justify-content: center;
}
.back-stars {
    color: #bb5252;
    position: relative;
}
.front-stars {
    color: orange;
    overflow: hidden;
    position: absolute;
    top: 0;
    transition: all 0.5s;
}

/* Barre de recherche dans le nav */
form.research {
    margin-right: 230px;
}
form.research input {
	outline: none;
}
form.research input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
form.research input::-webkit-search-decoration,
form.research input::-webkit-search-cancel-button {
	display: none; 
}


form.research input[type=search] {
	background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
	border: solid 1px #ccc;
	padding: 9px 10px 9px 32px;
	width: 80px;
	
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
	
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
form.research input[type=search]:focus {
	width: 130px;
	background-color: #fff;
	border-color: #1c201d;
	
	-webkit-box-shadow: 0 0 5px #343a4080;
	-moz-box-shadow: 0 0 5px #343a4080;
	box-shadow: 0 0 5px #343a4080;
}


form.research input:-moz-placeholder {
	color: #00000080;
}
form.research input::-webkit-input-placeholder {
	color: #00000080;
}