ul {
  list-style: none;
  padding: 0;
}
li {
  display: inline-block;
}

.score{
  display: flex;
  justify-content: space-around;
  margin: 10px 0;
}
.score p {
  margin: 0;
  font-family: Bangers, cursive;
  font-size: 36px;
}

.canvas{
  display: flex;
  justify-content: center;
}

.button{
  display: flex;
  justify-content: center;
  margin: 25px 0;
}

.button1{
  margin-left: -15px;
  padding-right: 25px;
}
